# `stackql-deploy` starter project for `aws`

> for starter projects using other providers, try `stackql-deploy my_stack --provider=azure` or `stackql-deploy my_stack --provider=google`

[`aws` provider docs](https://stackql.io/registry/aws)

[`stackql`](https://github.com/stackql/stackql)

[`stackql-deploy` PyPI home page](https://pypi.org/project/stackql-deploy/)

[`stackql-deploy` GitHub repo](https://github.com/stackql/stackql-deploy)